<div class="container myContainer">
	<h1>Search Posts:</h1>
	<form name="myForm" ng-submit="submitPost()">
		<input type="text" name="postTitle" ng-model="postTitle"/>
	</form>
	<ul>
		<div class="postItem" ng-repeat="post in myPosts | filter:postTitle">
			<li class="title">{{ post.title }}</li>
			<li class="entry">{{ post.entry }}</li>
		</div>
	</ul>
	<form name="newPost" ng-submit="submitPost()">
		<h2>Post Title:</h2><br />
		<input type="text" ng-model="newPostTitle" /><br />
		<h2>Post:</h2><br />
		<input type="text" class=ng-model="newPostEntry" /><br />
		<input type="submit" class="btn btn-large btn-primary">
	</form>
		<!-- 	<table class="table_2">
				<tr ng-repeat="post in myPosts"><td>{{ post }}</td></tr>
		 	</table>-->
</div>